<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.gsf"
    android:versionCode="0202"
    android:versionName="0.2.2" >

    <permission-tree
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH"
        android:label="Google Services Permissions" />

    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH"
        android:description="@string/permission_account_description"
        android:label="@string/permission_account_label"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="normal" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.ALL_SERVICES"
        android:description="@string/permission_service_all_description"
        android:label="@string/permission_service_all_label"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.mail"
        android:description="@string/permission_service_mail_description"
        android:label="@string/permission_service_mail_label"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.cl"
        android:description="@string/permission_service_cl_description"
        android:label="@string/permission_service_cl_label"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.android"
        android:description="@string/permission_service_android_description"
        android:label="@string/permission_service_android_label"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.androidsecure"
        android:description="@string/permission_service_android_description"
        android:label="@string/permission_service_android_label"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.youtube"
        android:description="@string/permission_service_youtube_description"
        android:label="@string/permission_service_youtube_label"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.YouTubeUser"
        android:description="@string/permission_service_youtube_description"
        android:label="@string/permission_service_youtube_label"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.talk"
        android:description="@string/permission_service_talk_description"
        android:label="@string/permission_service_talk_label"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.ig"
        android:description="@string/permission_service_ig_description"
        android:label="@string/permission_service_ig_label"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.lh2"
        android:description="@string/permission_service_lh2_description"
        android:label="@string/permission_service_lh2_label"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.mobile"
        android:description="@string/permdesc_googleAuth_mobile"
        android:label="@string/permlab_googleAuth_mobile"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.cp"
        android:description="@string/permdesc_googleAuth_cp"
        android:label="@string/permlab_googleAuth_cp"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.adsense"
        android:description="@string/permission_service_adsense_description"
        android:label="@string/permission_service_adsense_label"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.adwords"
        android:description="@string/permission_service_adwords_description"
        android:label="@string/permission_service_adwords_label"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.blogger"
        android:description="@string/permission_service_blogger_description"
        android:label="@string/permission_service_blogger_label"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.dodgeball"
        android:description="@string/permdesc_googleAuth_dodgeball"
        android:label="@string/permlab_googleAuth_dodgeball"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.gbase"
        android:description="@string/permdesc_googleAuth_gbase"
        android:label="@string/permlab_googleAuth_gbase"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.groups2"
        android:description="@string/permdesc_googleAuth_groups2"
        android:label="@string/permlab_googleAuth_groups2"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.health"
        android:description="@string/permdesc_googleAuth_health"
        android:label="@string/permlab_googleAuth_health"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.jotspot"
        android:description="@string/permdesc_googleAuth_jotspot"
        android:label="@string/permlab_googleAuth_jotspot"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.knol"
        android:description="@string/permdesc_googleAuth_knol"
        android:label="@string/permlab_googleAuth_knol"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.news"
        android:description="@string/permdesc_googleAuth_news"
        android:label="@string/permlab_googleAuth_news"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.orkut"
        android:description="@string/permdesc_googleAuth_orkut"
        android:label="@string/permlab_googleAuth_orkut"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.print"
        android:description="@string/permdesc_googleAuth_print"
        android:label="@string/permlab_googleAuth_print"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.sitemaps"
        android:description="@string/permdesc_googleAuth_sitemaps"
        android:label="@string/permlab_googleAuth_sitemaps"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.wifi"
        android:description="@string/permdesc_googleAuth_wifi"
        android:label="@string/permlab_googleAuth_wifi"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.finance"
        android:description="@string/permdesc_googleAuth_finance"
        android:label="@string/permlab_googleAuth_finance"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.local"
        android:description="@string/permdesc_googleAuth_local"
        android:label="@string/permlab_googleAuth_local"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.ah"
        android:description="@string/permdesc_googleAuth_ah"
        android:label="@string/permlab_googleAuth_ah"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.notebook"
        android:description="@string/permdesc_googleAuth_notebook"
        android:label="@string/permlab_googleAuth_notebook"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.writely"
        android:description="@string/permdesc_googleAuth_writely"
        android:label="@string/permlab_googleAuth_writely"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.wise"
        android:description="@string/permdesc_googleAuth_wise"
        android:label="@string/permlab_googleAuth_wise"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.grandcentral"
        android:description="@string/permdesc_googleAuth_grandcentral"
        android:label="@string/permlab_googleAuth_grandcentral"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.speechpersonalization"
        android:description="@string/permdesc_googleAuth_speechpersonalization"
        android:label="@string/permlab_googleAuth_speechpersonalization"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.speech"
        android:description="@string/permdesc_googleAuth_speech"
        android:label="@string/permlab_googleAuth_speech"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.providers.talk.permission.READ_ONLY"
        android:description="@string/ro_perm_desc"
        android:label="@string/ro_perm_label"
        android:permissionGroup="android.permission-group.MESSAGES"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.providers.talk.permission.WRITE_ONLY"
        android:description="@string/wo_perm_desc"
        android:label="@string/wo_perm_label"
        android:permissionGroup="android.permission-group.MESSAGES"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.gtalkservice.permission.GTALK_SERVICE"
        android:description="@string/sendTalkMsg_perm_desc"
        android:label="@string/sendTalkMsg_perm_label"
        android:permissionGroup="android.permission-group.MESSAGES"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.gtalkservice.permission.SEND_HEARTBEAT"
        android:description="@string/permdesc_heartbeat"
        android:label="@string/permlab_heartbeat"
        android:permissionGroup="android.permission-group.NETWORK"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.permission.BROADCAST_DATA_MESSAGE"
        android:description="@string/perm_data_msg_broadcast_desc"
        android:label="@string/perm_data_msg_broadcast_label"
        android:permissionGroup="android.permission-group.NETWORK"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.c2dm.permission.SEND"
        android:description="@string/perm_data_msg_broadcast_desc"
        android:label="@string/perm_data_msg_broadcast_label"
        android:permissionGroup="android.permission-group.NETWORK"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.c2dm.permission.RECEIVE"
        android:description="@string/perm_receive_data_message_desc"
        android:label="@string/perm_receive_data_message_label"
        android:permissionGroup="android.permission-group.NETWORK"
        android:protectionLevel="normal" />
    <permission
        android:name="com.google.android.xmpp.permission.BROADCAST"
        android:description="@string/perm_xmpp_broadcast_desc"
        android:label="@string/perm_xmpp_broadcast_label"
        android:permissionGroup="android.permission-group.NETWORK"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.xmpp.permission.SEND_RECEIVE"
        android:description="@string/perm_receive_xmpp_desc"
        android:label="@string/perm_receive_xmpp_label"
        android:permissionGroup="android.permission-group.NETWORK"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.xmpp.permission.XMPP_ENDPOINT_BROADCAST"
        android:description="@string/perm_xmpp_endpoint_broadcast_desc"
        android:label="@string/perm_xmpp_endpoint_broadcast_label"
        android:permissionGroup="android.permission-group.NETWORK"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.xmpp.permission.USE_XMPP_ENDPOINT"
        android:description="@string/perm_use_xmpp_endpoint_desc"
        android:label="@string/perm_use_xmpp_endpoint_label"
        android:permissionGroup="android.permission-group.NETWORK"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.android.vending.INTENT_VENDING_ONLY"
        android:description="@string/permdesc_intentVendingOnly"
        android:label="@string/permlab_intentVendingOnly"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.providers.settings.permission.READ_GSETTINGS"
        android:description="@string/permdesc_readGsettings"
        android:label="@string/permlab_readGsettings"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.providers.settings.permission.WRITE_GSETTINGS"
        android:description="@string/permdesc_writeGsettings"
        android:label="@string/permlab_writeGsettings"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"
        android:description="@string/permdesc_readGservices"
        android:label="@string/permlab_readGservices"
        android:permissionGroup="android.permission-group.ACCOUNTS"
        android:protectionLevel="normal" />
    <permission
        android:name="com.google.android.providers.gsf.permission.WRITE_GSERVICES"
        android:description="@string/permdesc_writeGservices"
        android:label="@string/permlab_writeGservices"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.google.android.gsf.subscribedfeeds.permission.C2D_MESSAGE"
        android:protectionLevel="dangerous" />
    <permission
        android:name="android.server.checkin.CHECKIN.permission.C2D_MESSAGE"
        android:protectionLevel="dangerous" />

    <uses-permission android:name="com.google.android.gsf.subscribedfeeds.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.server.checkin.CHECKIN.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.SEND" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.xmpp.permission.BROADCAST" />
    <uses-permission android:name="com.google.android.xmpp.permission.XMPP_ENDPOINT_BROADCAST" />
    <uses-permission android:name="android.permission.ACCESS_CACHE_FILESYSTEM" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER_ADVANCED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.BACKUP" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.DUMP" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MASTER_CLEAR" />
    <uses-permission android:name="android.permission.PERSISTENT_ACTIVITY" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_NETWORK_USAGE_HISTORY" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SET_TIME" />
    <uses-permission android:name="android.permission.STATUS_BAR" />
    <uses-permission android:name="android.permission.SUBSCRIBED_FEEDS_READ" />
    <uses-permission android:name="android.permission.SUBSCRIBED_FEEDS_WRITE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="com.android.vending.INTENT_VENDING_ONLY" />
    <uses-permission android:name="com.google.android.googleapps.permission.ACCESS_GOOGLE_PASSWORD" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.ALL_SERVICES" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.YouTubeUser" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.mail" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.youtube" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_MAIL_SWITCH" />
    <uses-permission android:name="com.google.android.gtalkservice.permission.GTALK_SERVICE" />
    <uses-permission android:name="com.google.android.gtalkservice.permission.SEND_HEARTBEAT" />
    <uses-permission android:name="com.google.android.permission.BROADCAST_DATA_MESSAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.WRITE_GSERVICES" />
    <uses-permission android:name="com.google.android.providers.settings.permission.READ_GSETTINGS" />
    <uses-permission android:name="com.google.android.providers.settings.permission.WRITE_GSETTINGS" />
    <uses-permission android:name="com.google.android.providers.talk.permission.READ_ONLY" />
    <uses-permission android:name="com.google.android.providers.talk.permission.WRITE_ONLY" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <application
        android:icon="@drawable/app_icon"
        android:label="@string/app_name" >
        <provider
            android:name=".gservices.GservicesProvider"
            android:authorities="com.google.android.gsf.gservices" />

        <service
            android:name=".gtalkservice.PushMessagingRegistrarProxy"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.RECEIVE" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.UNREGISTER" />
            </intent-filter>
        </service>

        <service
            android:name=".gtalkservice.PushMessagingRegistrar"
            android:permission="com.google.android.c2dm.permission.RECEIVE" />

        <receiver
            android:name=".gtalkservice.ReceiverProxy"
            android:permission="com.google.android.gsf.permission.C2D_MESSAGE" />

        <service
            android:name=".gtalkservice.service.GTalkService"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.google.android.gtalkservice.IGTalkService" />
            </intent-filter>
        </service>

        <provider
            android:name=".talk.TalkProvider"
            android:authorities="com.google.android.providers.talk"
            android:grantUriPermissions="true"
            android:multiprocess="false"
            android:readPermission="com.google.android.providers.talk.permission.READ_ONLY"
            android:writePermission="com.google.android.providers.talk.permission.WRITE_ONLY" >
            <path-permission
                android:path="/contacts/search_suggest_query"
                android:readPermission="android.permission.GLOBAL_SEARCH" />
        </provider>

        <receiver
            android:name=".gservices.GservicesProvider$OverrideReceiver"
            android:permission="com.google.android.providers.gsf.permission.WRITE_GSERVICES" >
            <intent-filter>
                <action android:name="com.google.gservices.intent.action.GSERVICES_OVERRIDE" />
            </intent-filter>
        </receiver>

        <service android:name=".checkin.CheckinService" />

        <receiver android:name=".checkin.CheckinService$Receiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.net.conn.BACKGROUND_DATA_SETTING_CHANGED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.google.gservices.intent.action.GSERVICES_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".checkin.CheckinService$TriggerReceiver" >
            <intent-filter>
                <action android:name="android.server.checkin.CHECKIN" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="android.server.checkin.CHECKIN" />
            </intent-filter>
        </receiver>
        <receiver android:name=".checkin.CheckinService$SecretCodeReceiver" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />

                <data
                    android:host="2432546"
                    android:scheme="android_secret_code" />
            </intent-filter>
        </receiver>

        <service android:name=".checkin.EventLogService" />

        <receiver android:name=".checkin.EventLogService$Receiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="com.google.gservices.intent.action.GSERVICES_CHANGED" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".subscribedfeeds.SubscribedFeedsProvider"
            android:authorities="subscribedfeeds"
            android:exported="true"
            android:multiprocess="false"
            android:readPermission="android.permission.SUBSCRIBED_FEEDS_READ"
            android:writePermission="android.permission.SUBSCRIBED_FEEDS_WRITE" />

        <receiver
            android:name=".subscribedfeeds.SubscribedFeedsGCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.google.android.gsf.subscribedfeeds" />
            </intent-filter>
        </receiver>

        <service android:name=".subscribedfeeds.GCMIntentService" />

        <receiver android:name="com.google.android.gsf.loginservice.MigrateToAccountManagerBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PRE_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.google.android.gsf.loginservice.ServicesWatcher" >
            <intent-filter>
                <action android:name="com.google.gservices.intent.action.GSERVICES_CHANGED" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".settings.GoogleSettingsProvider"
            android:authorities="com.google.settings"
            android:writePermission="com.google.android.providers.settings.permission.WRITE_GSETTINGS" />

        <activity android:theme="@android:style/Theme.Holo.Panel" android:label="@string/gls_settings_tos_activity_title" android:name=".settings.SettingsTosActivity" android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.settings.TERMS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@android:style/Theme.Holo.Light" android:label="@string/location_settings_screen_title" android:icon="@drawable/ic_google_selected" android:name=".settings.GoogleLocationSettings$Activity" android:taskAffinity="" android:clearTaskOnLaunch="true" android:excludeFromRecents="true" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.google.android.gsf.GOOGLE_LOCATION_SETTINGS" />
                <action android:name="com.google.android.gsf.GOOGLE_APPS_LOCATION_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@android:style/Theme.Holo.Panel" android:name=".settings.UseLocationForServicesActivity" android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="com.google.android.gsf.action.SET_USE_LOCATION_FOR_SERVICES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="org.microg.gsf.deviceid.FirstTimeConfig" />

        <!-- The following adds µg specific features that are not present on Google Android. Use wisely. -->
        <service android:name="org.microg.gsf.deviceid.ManagerService" android:exported="true">
            <intent-filter>
                <action android:name="org.microg.gsf.IDeviceIdManager" />
            </intent-filter>
        </service>
    </application>

</manifest>
